#animeviewcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000030;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

#animeviewcard img{
border-radius: 20px;
width: 300px
}

#firstimage{
    z-index: 1;
    }

    #secondimage{
        position: absolute;
        top: 20px;
        filter: blur(24px);
        opacity: 80%;
    z-index: 0;    }