#animeviewcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000030;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    font-size: 15px;
    
}

#animeviewcard img{
border-radius: 20px;
width: 200px
}

#firstimage{
    z-index: 2;
    }

    #secondimage{
        position: absolute;
        top: 20px;
        filter: blur(20px);
        opacity: 60%;
    z-index: 0;    }


    #thridimage{
        position: absolute;
        top: 20px;
        filter: blur(80px);
        opacity: 80%;
    z-index: 1; 
    mix-blend-mode:color-dodge;

    }

    .carousel{
        cursor: grab;
        overflow: hidden;
        width: 100vw
    }

    .inner-carousel{
        display: flex;
        gap: 100px
    }