.App{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d1839;
  color: aliceblue;
  font-family: Poppins;
  font-size: 20px;
  border-radius: 20px;
}